
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <header >
        <div class="container">
            <div class="row">
                <div class="col-md-2 logo">
                    <a href="/Home/Index"><img src="~/Images/logo.png"></a>
                </div>
                <div class="col-md-10">
                    <div>
                        <nav class="pull-right" style="margin-top:15px;">
                            <ul>
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="/Contest/MyContests/">My Contests</a></li>
                                
                                <li><a href="/Contest/Browse/">Browse Contests</a></li>
                               @if (Session["freelancer_id"] == null || Session["client_id"] == null)
                               {
                                <li><a href="/User/Login/"><span class="fa fa-sign-out fa-lg"></span>Login</a></li>
                               }
                            @if (Session["freelancer_id"] != null || Session["client_id"] != null)
                            {
                                <li><a href="/User/Logout/"><span class="fa fa-sign-out fa-lg"></span>Logout</a></li>
                            }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 banner-content">
                    <h3>Hire Expert freelancers for any job</h3>
                    <p>Millions of small business use Freelancer to turn their ideas into reality.</p>
                    <a href="/Home/Create/" class="btn btn-primary link">I want to Hire</a>
                    <a href="/Contest/Browse/" class="btn btn-primary link">I want to Work</a>
                </div>
                <div class="col-md-6 banner-img text-right">
                    <img src="~/Images/ipad.png" style="width:50%;">
                </div>
            </div>
        </div>
    </section>
    <section id="service" ></section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-logo">
                    <img src="~/Images/logo-footer.png">
                </div>
                <div class="col-md-3">
                    <h4>Useful Links</h4>
                    <ul class="useful-links">
                        <li>Contest</li>
                        <li>Projects</li>
                        <li>Hire</li>
                        <li>Log in</li>
                        <li>Sign Up</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Links</h4>
                    <ul class="links">
                        <li>Home</li>
                        <li>About</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-md-3 subscribe">
                    <h4 style="margin-left:0;">Subscribe</h4>
                    <p>Lorem ipsum sit amet dolor lorem ipsum set amet dolor amet sit amet lorem ipsum.</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="col-md-12">
                <p>&copy;copyrights are reserved 2018-2019</p>
            </div>
        </div>
    </div>
</body>
</html>
